@model IEnumerable<TaskManager.Models.Product>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Amount)</th>
        </tr>
    </thead>
    <tbody>
@foreach(var item in Model) {
        <tr>
            <td>#</td>
            <td>@Html.DisplayFor(modelItem  => item.Title)</td>
            <td>@Html.DisplayFor(modelItem  => item.Amount)</td>
        </tr>
}
    </tbody>
</table>
